.form-item-name {
  position: relative;
}
.field-suffix {
  position: absolute;
  right: 5px;
  top: 30px;
}
#username-check-informer {
  padding-left: 16px;
}
.username-check-informer-progress {
  background: url("../images/throbber.gif") no-repeat center -20px !important;
}
.username-check-informer-accepted {
  background: url("../images/accepted.png") no-repeat center center !important;
}
.username-check-informer-rejected {
  background: url("../images/rejected.png") no-repeat center center !important;
}

#username-check-message {
  color: #ff0000;
  font-weight: normal;
  display: none;
  margin: 15px 0;
}

.username-check-message-rejected {
  color: #ff0000;
}
